.header__container {
  background-color: white;
  width: 100vw;
  height: 5vw;
  margin-top: 20vw;
}

.header__content {

display: flex;
justify-content: space-around;

}

.header__title {
  color: #3b5bdb;
  margin-top: 10 vw;
}

.header__input--search input__box {
  background-color: #871c1c;
  width: 50vw;
  height: 10vw;
  border: 1px solid black;
}

body {
  background-color: black;
  font-family: "Roboto Serif", serif;
}

.main__container {
  background-color: #e2e2e2;
  height: 50vw;
}

.form__container {
  background-color: white;
  height: 20vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 2vw;
  border-radius: 1vw;
}

.tasks__container {
  background-color: white;

  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 2vw;
  height: 25vw;
  border-radius: 1vw;
}

.form__title title2 {
  margin: 50vw;
}

.form__input-container {
  margin: 3vw;
}
